{% extends "base.html" %}
{% load staticfiles %}
{% block title %} {{Law}} Details{% endblock %}
{% block includes %}
<script src="{% static 'django_evercookie/swfobject-2.2.min.js' %}"></script>
<script src="{% url 'django_evercookie.views.evercookie_core' %}"></script>
{% endblock %}
{% block header %}
<meta name="description" content="{{ Law }} details - SpaceScore - Track your Legislators' records on space with detailed ratings on human spaceflight, unmanned spaceflight, space privatization and public spaceflight.">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-7">
            <h1>{{ Law }}</h1>
            <div class="quickheaderinfo">{{ Law.getQuickInfoText }}</div>
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">Description</h3></div>
                <div class="panel-body">
                    {{ Law.description|linebreaks }}
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Your Voice</h3></div>
                <div class="panel-body">
                    <div class="row peoples-voice-row">
                        <div class="col-sm-6">
                            <input id="peoples-score-display" value="{% if Law.peoplesQuantity == 0 %}N/A{% else %}{% widthratio Law.peoplesScore 1 100 %}{% endif %}" data-fgColor="#357ebd" data-thickness=.25 data-skin="tron"/>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#voteModal">Vote</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-xs-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                            <canvas id="bill-weight-chart" width="385" height="375" data-hsfscore="{% widthratio Law.hsfWeight 1 100 %}" data-usfscore="{% widthratio Law.unmannedsfWeight 1 100 %}" data-pubscore="{% widthratio Law.publicWeight 1 100 %}" data-privscore="{% widthratio Law.privatizationWeight 1 100 %}" style="margin-left:auto;margin-right:auto;display:block"></canvas><span class="tooltip-selector" id="private-tooltip"></span><span class="tooltip-selector" id="public-tooltip"></span><span class="tooltip-selector" id="unmanned-tooltip"></span><span class="tooltip-selector" id="human-tooltip"></span>
                            <!--<div class="col-xs-6 colscore"><div id="scorehsf">
                            <span class="score-title">Human Spaceflight:</span>
                            <input id="hsfweight-display" value="{% widthratio Law.hsfWeight 1 100 %}" data-fgColor="#7F00FF" data-thickness=.25 data-skin="tron">
                        </div></div
                        ><div class="col-xs-6 colscore"><div id="scoreusf"{% if Official.unmannedsfScore == None %} class="noscore"{% endif %}>
                            <span class="score-title">Unmanned Spaceflight:</span>
                            <input id="usfweight-display" value="{% widthratio Law.unmannedsfWeight 1 100 %}" data-fgColor="#FFFF00" data-thickness=.25 data-skin="tron">
                        </div></div
                    ></div
                    ><div class="row" style="margin-top: 18px"
                        ><div class="col-xs-6 colscore"><div id="scorenat">
                            <span class="score-title">Public Spaceflight:</span>
                            <input id="pubweight-display" value="{% widthratio Law.publicWeight 1 100 %}" data-fgColor="#8B0000" data-thickness=.25 data-skin="tron">
                        </div></div><div class="col-xs-6 colscore"><div id="scorepriv">
                            <span class="score-title">Commercial Spaceflight:</span>
                            <input id="privweight-display" value="{% widthratio Law.privatizationWeight 1 100 %}" data-fgColor="#74C365" data-thickness=.25 data-skin="tron">
                        </div></div
                    ></div>-->
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="center-block" style="text-align: center">
                            <div id="scorebase">
                                <span id="basescore-title">Base Score:</span>
                                <input id="baseweight-display" value="{% widthratio Law.baseWeight 1 100 %}" data-fgColor="#00FFFF" data-thickness=.35 data-skin="tron">
                                <span class="tooltipster-icon basescore-tooltip popover" id="bscore-tooltip">?</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Our Perspective</h3></div>
        <div class="panel-body">{% if Law.editorialComment %}{{Law.editorialComment|linebreaks}}{% else %}Stay tuned.{% endif %}</div>
    </div>

    <div class="row">
        {% if Law.publicComment %}<div class="col-xs-6"><div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Public Spaceflight Perspective</h3></div>
            <div class="panel-body">{{Law.publicComment|linebreaks}}</div>
        </div></div>{% endif %}{% if Law.privatizationComment %}
        <div class="col-xs-6"><div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Commercial Spaceflight Perspective</h3></div>
            <div class="panel-body">{{Law.privatizationComment|linebreaks}}</div>
        </div></div>{% endif %}
    </div>
    <div class="row">
        {% if Law.hsfComment %}<div class="col-xs-6"><div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Human Spaceflight Perspective</h3></div>
            <div class="panel-body">{{Law.hsfComment|linebreaks}}</div>
        </div></div>{% endif %}{% if Law.unmannedsfComment %}
        <div class="col-xs-6"><div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Unmanned Spaceflight Perspective</h3></div>
            <div class="panel-body">{{Law.unmannedsfComment|linebreaks}}</div>
        </div></div>{% endif %}
    </div>

    <div class="row">
        {% if Law.lawCommittees %}
        <div class="col-xs-6">
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">Committees</h3></div>
                <div class="panel-body">
                    <div class="list-group">
                        {% for Committee in Law.lawCommittees %}
                        <a href="{{ Committee.url }}" id="{{Committee|slugify}}" class="list-group-item"><span class="result-text-container"> {{ Law }} &bull; {{Committee.getQuickInfoText}}</span></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <dl style="margin:0">
                        <dd>
                            Track this bill and others on <a href="{{ Law.govtrackLink }}">GovTrack.us</a></a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div style="clear:both"></div>

    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Officials Supporting</h3></div>
                <div class="panel-body">
                    {% if Law.officialsSupporting %}
                    <div class="list-group">
                        {% for Official in Law.officialsSupporting.all %}
                        <a href="{{ Official.url }}" id="{{Official|slugify}}" class="list-group-item"><span class="result-text-container"> {{ Official }} &bull; {{Official.getQuickInfoText}}</span></a>
                        {% endfor %}
                    </div>
                    {% else %}
                    <p>No legislator has supported this law so far.</p>{% endif %}
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Officials Opposing</h3></div>
                <div class="panel-body">
                    {% if Law.officialsOpposing %}
                    <div class="list-group">
                        {% for Official in Law.officialsOpposing.all %}
                        <a href="{{ Official.url }}" id="{{Official|slugify}}" class="list-group-item"><span class="result-text-container"> {{ Official }} &bull; {{Official.getQuickInfoText}}</span></a>
                        {% endfor %}
                    </div>
                    {% else %}
                    <p>No legislator has opposed this law so far.</p>{% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="voteModal" aria-labelledby="voteModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="voteModalLabel" class="modal-title">Your Opinion on {{ Law }}</h4>
                </div>
                <form id="usr-vote-form">
                    <div class="modal-body">
                        {% csrf_token %}
                        <span class="star-rating">
                            <input type="radio" data-send="0" class="vote-options" id="vote-option-1" name="vote-options" value="1"><i></i>
                            <input type="radio" data-send="0.25" class="vote-options" id="vote-option-2" name="vote-options" value="2"><i></i>
                            <input type="radio" data-send="0.5" class="vote-options" id="vote-option-3" name="vote-options" value="3"><i></i>
                            <input type="radio" data-send="0.75" class="vote-options" id="vote-option-4" name="vote-options" value="4"><i></i>
                            <input type="radio" data-send="1" class="vote-options" id="vote-option-5" name="vote-options" value="5"><i></i>
                        </span>
                        
                        <div class="alert alert-success fade in" style="display: none" role="alert" id="vote-alert">
                            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" id="alert-glyph"></span>
                            <span id="vote-msg"><strong>Success</strong> Your vote has been recorded.</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="vote-go" class="btn btn-primary">Vote</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <br/>
{% endblock %}
{% block footer %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script><script type="text/javascript" src="{{STATIC_URL}}/jquery.knob.js"></script><script type="text/javascript" src="{{STATIC_URL}}/bill-details-init.js"></script>
{% endblock %}